.page {
  min-block-size: 100dvb;
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  line-height: 1.3;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--question-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  padding: 10px;
  min-height: auto;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
  padding: 0;
  margin-top: 64px;
  margin-right: 2px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--question-color);
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 12px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--question-color);
}

.header__theme-menu-button:hover {
  border: 0.5px solid var(--question-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--question-color);
}

.rec {
  position: absolute;
  top: 0px;
  right: 35px;
  width: 33px;
  height: 26px;
  text-align: center;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
}

.rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 9px;
  background-color: rgb(255, 0, 112);
  box-shadow: 0 0 4px 2px rgb(255, 0, 112);
  border-radius: 50%;
}

.header_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--title-color);
  margin-bottom: 55px;
}

.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--focus-color);
  margin-bottom: 42px;
  line-height: 0.84;
}

.main_title-question {
  color: var(--question-color);
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 0;
}

.header_subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.header_subtitle-text {
  max-width: 355px;
  text-align: left;
  margin-right: auto;
}

.section {
  display: grid;
  padding: 0px 10px 0px 10px;
  padding-inline: 10px;
}

.section_align_concentration {
  margin-top: 10px;
}

.chunk {
  display: inline;
  white-space: nowrap;
}

.main_title-second-question {
  margin-top: 51px;
}

.main_title-answer {
  font-size: 18px;
  margin: 20px 0 10px 0;
  color: var(--subtitle-color);
}

.picture_title-answer {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--subtitle-color);
}

.main_subtitle {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--subtitle-color);
}

.main_text {
  font-size: 18px;
  margin: 0;
  color: var(--subtitle-color);
}

.additional_question {
  margin-top: 18px;
  margin-bottom: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
  width: 100%;
  padding: 0;
  display: block;
}

.section_columns_two {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section_columns_three {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section_columns_five {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section_columns_five .main_text {
  margin-bottom: 20px;
}

.section_columns_five .main_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.text-link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-underline-offset: 3px;
  outline: none;
  border: none;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: none;
  border: 1px solid var(--subtitle-color);
  box-shadow: 0 0 0 1px var(--accent-color);
}

.section_images {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  margin-top: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.images {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  margin-top: 41px;
  min-height: 100vh;
}

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.95;
  margin: 3px 0 0 0;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 1px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .header_title {
    margin-bottom: 150px;
    margin-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.825;
  }

  .header_subtitle {
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    max-width: 100%;
  }

  .header_text {
    align-items: flex-start;
    margin-bottom: 163px;
  }

  .header_subtitle-text {
    max-inline-size: 365px;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    padding-top: 107px;
  }

  .main_title-question {
    max-width: 100%;
    margin: 0;
  }

  .chunk {
    display: block;
  }

  .main_text {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .main_title-answer {
    margin: 0;
  }

  .main_subtitle {
    margin-bottom: 10px;
  }

  .main_title-second-question {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .section {
    padding-inline: 20px;
    gap: 20px;
  }

  .section_align-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
    gap: 20px;
    align-items: start;
  }

  .section_align_concentration {
    margin-top: 60px;
  }

  .section_align_concentration .main_text {
    margin: 0 0 20px 0;
  }

  .additional_question {
    margin-bottom: 20px;
  }

  .section_images {
    margin-top: 60px;
    padding-inline: 20px;
  }

  .picture_title-answer {
    margin-bottom: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .gallery_item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery_item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 3;
  }

  .gallery_item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery_item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .footer {
    margin-top: 60px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.825;
  }
}

@media (width >= 1024px) {
  .header {
    display: block;
    min-height: 768px;
    padding: 20px 20px 20px 1px;
    margin: 0;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 17px;
  }

  .header__theme-menu-list {
    display: flex;
    padding: 0 13px;
    margin: 0;
    flex-direction: row;
    gap: 14px;
  }

  .header_title {
    margin: 275px 0 103px 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.825;
  }

  .header_subtitle {
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    max-width: 100%;
  }

  .header_text {
    align-items: flex-start;
    margin-bottom: 0;
  }

  .header_subtitle-text {
    max-inline-size: 490px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
  }

  .section_align-right {
    display: grid;
    grid-template-columns: 1fr 2.05fr;
    align-items: start;
    margin-top: 60px;
    gap: 20px;
  }

  .main_title-question {
    margin: 0;
  }

  .chunk {
    display: inline;
  }

  .chunk:nth-child(3n) {
    display: block;
  }

  .main_title-answer {
    margin-bottom: 10px;
  }

  .main_text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .main_title-second-question {
    max-width: 300px;
    margin-top: 60px;
  }

  .section_align_concentration {
    margin-top: 60px;
  }

  .additional_question {
    margin-bottom: 20px;
  }

  .main_subtitle {
    margin-bottom: 10px;
  }

  .section_columns_two {
    align-items: flex-end;
    max-width: 648px;
  }

  .section_columns_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
  }

  .section_columns_five {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .section_images {
    padding-inline: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery_item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery_item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 3;
  }

  .gallery_item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery_item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .footer {
    margin-top: 60px;
    min-height: 768px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0.825;
    margin: 0;
  }
}
